body {
    background-color: #b1afae;
}
#vercel-logo {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.5);
}
#example_div {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 0 auto; 
    margin-top: 20vh;
    border: none;
    max-width: 800px;
    color: white;
}
h1 {
    font-size: 75px;
    font-weight: bolder;
    align-self: center;
}
p {
    font-size: 20px;
    font-weight: lighter;
    align-self: center;
    margin-top: 30px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 800px;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}